@import "base.scss";

* {
    margin: 0;
    padding: 0;
    text-decoration:none;
}

html {
    overflow-x: hidden;
    //overflow: auto;
}

::-webkit-scrollbar {
    width: 0;
    background:transparent;
}

#header {
    top: 0;
    z-index: 0;
    background: $eerie_black;
    width: 100vw;
    height: 80px;
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    box-shadow: black 0 0 20px;
}

#header2 {
    //position: absolute;
    z-index: -1;
    background-color: $steel_teel;//#3d4b70;// $platinum;
    width: 100vw;
    height: 370px;
    margin-top: 80px;
    margin-left: 0;
    box-shadow: black 0 0 20px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
}

#header2bg {
    z-index: 1;
    opacity: 50%;
    top: 0;
    left: 0;
    margin: 0 0;
    width: 100%;
    height: 100%;
    //background-image: url("../images/img5.png");
    background-size: 100%;
    background-origin: border-box;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    background-position: center center;
}

body {
    background: $platinum;
}

#footer {
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 45px;
    margin-bottom: 0;
    text-align: left;
    box-shadow: black 0 0 10px;
    background-color: $eerie_black;
}

.horzLine {
    margin-top: 30px;
    width: 100%;
    height: 3px;
    background-color: #000000;
    opacity: 20%;
}

.a1 {
    margin-top: 10px;
}
/*
.a6 {
    height: 5px;
    opacity: 100%;
}*/

.a2, .a10 {
    height: 3px;
    opacity: 50%;
}

.vertLine {
    position: relative;
    margin-left: 30px;
    height: 100%;
    width: 3px;
    background-color: #000000;
    opacity: 20%;
}
/*
.b22 {
    width: 5px;
    opacity: 100%;
}*/

.b2, .b6, .b10, .b14, .b18, .b26, .b30, .b34, .b38, .b42 {
    width: 4px;
    opacity: 50%;
}

/*
.a6  {
    --x-shadow: 0;
    --y-shadow: 0;
    --x:50%;
    --y:50%;
    transition: all 0.2s ease;

    &:hover {
        transition: all 0.2s ease;
        box-shadow: var(--x-shadow) var(--y-shadow) 10px $dark-black;
    }
}
*/

/*
.line {
    --x:50%;
    --y:50%;
    //background: #000000;
    transition: all 0.1s ease;
    background-position: var(--x) var(--y);
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, rgba(white, 0.6), transparent);
}*/


/*.a6 {
    background-repeat: no-repeat;
    background-position: 0 200px;
    background-image: radial-gradient(circle, rgba(white, 0.9), transparent);
}*/

